/*
Copyright (C) 2017 Digital Alchemy

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/
/* 
    Created on : 16-Feb-2017, 13:06:07
    Author     : Andy Carr
*/

.navbar {
    margin-bottom: 0;
}
body {
	background: #3E4649;
	color: #f7f7f7;
	font-family: 'Montserrat', sans-serif;
}
h1,
h2 {
	font-weight: bold;
}
p {
	font-size: 16px;
	color: #cdcdcd;
}
.jumbotron {
	background: #7D1010;
	color: #c3c3c3;
	text-align: center;
}
.jumbotron p {
	color: #c3c3c3;
	font-size: 26px;
}
.btn-primary {
	color: #c3c3c3;
	background-color: transparent;
	border-color: #c3c3c3;
	margin-bottom: 5px;
}
.btn-primary:hover {
	color: #7D1010;
	background-color: white;
	border-color: white;
}
.btn-default {
	color: #c3c3c3;
	background-color: transparent;
	border-color: #c3c3c3;
	margin: 10px 0 5px 5px;
}
.btn-default:hover {
	color: #c3c3c3;
	background-color: #7D1010;
	border-color: #c3c3c3;
}
.navbar-inverse {
	background: #2E2F31;
	border: 0;
}
.navbar-inverse .navbar-nav li a {
	/*color: #f7f7f7;*/
	font-size: 16px;
}
.navbar-inverse .navbar-nav li a:hover {
	background: #7D1010;
}
.dropdown-menu {
	background: #2E2F31;
	border-radius: 0;
	border: 0;
}
.dropdown-menu li a {
	padding: 10px;
}
.navbar-inverse .navbar-nav .dropdown-menu li a:hover {
	background: #2C463C;
}
.call-to-action {
	text-align: center;
}
.call-to-action p {
	margin-bottom: 30px;
	font-family: sans-serif;
}
.glyphicon-large {
	font-size: 100px;
}
.footer-height {
    height: 200px;
}
.footer-home-button {
    position: absolute;
    bottom: -79;
    right: 0;
}
input {
    width: 200px;
    margin: 1px 5px 8px 5px;
    color: black;
}
.errors {
    background: #7D1010;
    color: black;
}
.error {
    background: #7D1010;
    color: #c3c3c3;
    text-align: center;
}
.success {
    background: #81CE69;
    color: black;
    text-align: center;
}
.info {
    background: #E9E370;
    color: black;
    text-align: center;
}
.form_error p {
    font-size: 9px !important;
    color: #BC3434  !important;
    padding-left: 5px;
}
label {
    padding-left: 5px;
    margin: 5px 0 0 0;
    width: 100%;
}